body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #050404;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.screen {
    text-align: center;
}

img {
    width: 250px;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 18px;
    color: #333;
    line-height: 3em;
}

i {
    font-size: 24px;
    color: #666;
    margin: 0 10px;
    cursor: pointer;
}

i:hover {
    color: #0075ff;
}

input[type="range"] {
    width: 100%;
    margin-bottom: 20px;
}